<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>

      <div class="content">

        <!-- <div class="card">
          <div class="header">
            <h1 class="title">{{title}}</h1>
          </div>
          <div class="content">
            </div>
        </div> -->
      <!-- <button
        class="btn btn-default toggle-btn"
        (click)="toggleView = !toggleView">
        {{ toggleView ? 'hide' : 'show' }}
      </button> -->
      <!-- <app-flight-search *ngIf="toggleView"></app-flight-search> -->
      <!-- <app-flight-edit *ngIf="toggleView"></app-flight-edit>  -->
      <router-outlet></router-outlet>
      </div>
  </div>

</div>
